@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
.form-container form {
  margin-top: 20px;
  direction: ltr;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.form-container label {
  color: aliceblue;
  text-align: start;
}
.form-container input {
  width: 400px;
  margin-bottom: 40px;
  margin-top: 0px;
  background-color: transparent;
  padding-top: 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  color: aliceblue;
}
.form-container input[type=submit] {
  width: 80px;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
}
.form-container input[type=submit]:hover {
  background-color: rgb(218, 218, 218);
  color: rgb(65, 65, 65);
  font-weight: 400;
}
.form-container input:focus {
  outline-style: none;
}
.form-container ::placeholder {
  text-align: left;
  color: rgb(180, 179, 179);
}

html {
  margin: 0;
}

body {
  direction: rtl;
  margin: 0;
  box-sizing: border-box;
  background-color: #002D62;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.top-container {
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.header {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
  background-color: #fecda5;
}
.header h1 {
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 0px;
  padding: 10px;
}

.menu {
  width: 100%;
  display: flex;
  padding: 5px;
  background-color: #fecda5;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.menu a {
  border: 1px solid grey;
  padding: 8px;
  border-radius: 2px;
  text-decoration: none;
}
.menu a:hover {
  background-color: aliceblue;
}
.menu .menu-item {
  margin-left: 20px;
  color: black;
}
.menu .search input[type=text] {
  font-family: "Montserrat", sans-serif;
  width: 250px;
  border-radius: 2px;
  border: 0px;
  padding: 11px;
}
.menu .search input[type=submit] {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid grey;
  font-family: "Montserrat", sans-serif;
  padding-left: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60px;
}
.menu .search input[type=submit]:hover {
  background-color: aliceblue;
}

th {
  font-weight: 300;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

table, td:nth-child(even), tr, th {
  font-weight: 400;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border-collapse: collapse;
  border: 1px solid #ffffff;
  border-style: groove;
}
table th, td:nth-child(even) th, tr th, th th {
  padding: 10px;
  background-color: grey;
  color: #272626;
  font-weight: 600;
}
table tr:nth-child(odd) td, td:nth-child(even) tr:nth-child(odd) td, tr tr:nth-child(odd) td, th tr:nth-child(odd) td {
  background-color: #ffffff;
  color: #272626;
}
table tr:nth-child(even) td, td:nth-child(even) tr:nth-child(even) td, tr tr:nth-child(even) td, th tr:nth-child(even) td {
  background-color: rgb(218, 214, 214);
  color: #272626;
}

.description-col {
  text-align: justify;
  max-height: 200px;
  min-height: 20px;
  max-width: 250px;
  min-width: 20px;
}

/*# sourceMappingURL=.index.css.map */
