<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/.index.css" />
    <script src="../static/js/additem.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header">
        <h1>Add Item</h1>
      </div>
    </header>
    <div class="form-container">
      <form action="/addItem" method="post">
        <label for="">Warehouse name
          <select class="selector" name="q" id="">
            <option value="">select warehouse</option>
            {% for item in data %}
              <option value="{{item}}">{{item}}</option>
            {% endfor %}
          </select>
        </label>
        <input type="text" placeholder="Warehouse name..." name="warehouse" />
        <label for="">Item</label>
        <input type="text" placeholder="Item..." name="item" />
        <label for="">Description</label>
        <input type="text" placeholder="Description..." name="description" />
        <label for="">Quantity</label>
        <input type="text" placeholder="Quantity..." name="quantity" />
        <label for="">Catalog ID</label>
        <input type="text" placeholder="Catalog ID..." name="catalog_id" />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
