<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../static/js/index.js" defer></script>
    <link rel="stylesheet" href="static/css/.index.css" />
    <title>warehouse Managment</title>
  </head>
  <body>
    <div class="top-container">
      <header>
        <div class="header">
          <h1>Warehouse Managment</h1>
        </div>
      </header>
      <nav class="menu">
        <a href="/addItem" class="menu-item">Add item</a>
        <a href="/" class="menu-item">Home</a>
        <div class="search">
            <form action="{{url_for('search')}}" method="get">
              <input type="text" name="q" />
              <input type="submit" value="Search" />
            </form>
          </div>
      </nav>
    </div>
    <!-- <div class="search">
        <form action="" method="get">
            <input type="text">
            <input type="submit" value="search">
        </form>
    </div> -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Warehouse</th>
            <th>Item name</th>
            
            <th>Description</th>
            <th>Quantity</th>
            <th>Catalog #</th>
            <th>Last modified</th>
            <th>Delete</th>
            <th>Update</th>
          </tr>
        </thead>
        <tbody>
          {% for item in data %}
          
          <tr>       
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td class="description-col">{{item[3]}}</td>
            <td>{{item[4]}}</td>
            
            <td>{{item[5]}}</td>
            <td class="time">{{item[6][0:19:]}}</td>
            <td>
                <form action='/item_delete/{{item[0]}}' method="get">
                <button type="submit"  class="delete-btn"><img src="../static/svg/delete-svgrepo-com (1).svg" alt="" class="delete-svg"><small class="info">delete</small></button>
                </form>
            </td>
            <td>
                <a href="{{url_for('item_update',row_id=item[0],warehouse=item[1],item=item[2],quantity=item[4],description=item[3],catalogId=item5)}}" class="update" ><img src="../static/svg/pencil-edit-button-svgrepo-com.svg" alt="" class="pencil"><small class="update">update</small></a>
            </td>   
          </tr>
        
          {% endfor %}

          
        </tbody>
      </table>
    </div>
  </body>
</html>
