<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="index.js" defer></script>
    <link rel="stylesheet" href="static/css/.index.css" />
    <title>warehouse managment</title>
  </head>
  <body>
    <nav>
      <div class="menu">
        <a href="/" class="menu-item">Add item</a>
        <a href="/" class="menu-item">Home</a>
      </div>

      <table>
        <thead>
          <tr>
            <th>Warehouse</th>
            <th>Item name</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Catalog #</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>934</td>
            <td>מסור</td>
            <td>10</td>
            <td>חד מאוד</td>
            <td>50002454</td>
          </tr>
        </tbody>
      </table>
    </nav>
  </body>
</html>
