@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
@import "./addItem";
html {
  margin: 0;
}
body {
  position: relative;
  height: 100vh;
  direction: rtl;
  margin: 0;
  box-sizing: border-box;
  background-color: #082970;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.top-container {
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.modal {
  // direction: ltr;
  padding: 0px;
//   margin: 0px;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #fecda5;
  justify-content: center;
  box-shadow: 0 5px 5px 5px black;
  height: fit-content;
  

  table { 
  direction: rtl;
  font-weight: 600;
  text-align: ceter;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border-collapse: collapse;
  border: 1px solid #ffffff;
  }

  th {
    padding: 10px;
    background-color: grey;
    color: #000000;
    font-weight: 600;
  }
  tr:nth-child(odd) td {
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    padding: 10px;
  }

  tr:nth-child(even) td {
    background-color: rgb(218, 214, 214);
    color: #000000;
    font-weight: 600;
    padding: 10px;
  }

  .modal-delete-btn {
    display: flex;
    border: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
  
    .delete-svg {
      width: 20px;
      height: auto;
    }
  }
   
  .modal-quantity-input{
    text-align: center;
    width: 48px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid grey;
    background-color: transparent;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .modal-quantity-input:focus {
    outline: none;
    border:0px;
  }

  .modal-copy-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 50px ;
    border: 1px solid grey;

    img {
      width: 40px ;
      height: 40px;
    }
  }

  .modal-copy-btn:hover {
    background-color:aliceblue ;
  }

}

.header {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px;
  background-color: #fecda5;
  h1 {
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin: 0px;
    padding: 10px;
  }
}

.menu {
  width: 100%;
  display: flex;
  padding: 5px;
  background-color: #fecda5;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .print {
    border: 0px;
    .print-svg {
      width: 22px;
      // height: 18px;
    }
  }

  .checked-list {
    background-color: #fecda5;
    padding: 7px;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    font-weight: 300;
    max-width: 170px;
    border: 1px solid grey;
  }

  .checked-list:hover {
    background-color: aliceblue;
  }

  .warehouse-select-form {
    margin-left: 17px;
    .warehouse-select {
      background-color: #fecda5;
      padding: 7px;
      border-radius: 2px;
      font-family: "Montserrat", sans-serif;
      font-size: medium;
      font-weight: 300;
      max-width: 170px;
    }

    .warehouse-select:hover {
      background-color: aliceblue;
    }

    .warehouse-select-btn {
      padding: 8px;
      font-family: "Montserrat", sans-serif;
      font-size: medium;
      font-weight: 300;
      max-width: 170px;
      margin-left: 5px;
      background-color: transparent;
      border-radius: 2px;
      border: 1px solid grey;
    }

    .warehouse-select-btn:hover {
      background-color: aliceblue;
    }
  }

  a {
    border: 1px solid grey;
    padding: 8px;
    border-radius: 2px;
    text-decoration: none;
  }
  a:hover {
    background-color: aliceblue;
  }
  .menu-item {
    margin-left: 20px;
    color: black;
  }

  .search {
    input[type="text"] {
      font-family: "Montserrat", sans-serif;
      width: 250px;
      border-radius: 2px;
      border: 0px;
      padding: 11px;
      border: 1px solid grey;
    }

    input[type="submit"] {
      background-color: transparent;
      border-radius: 2px;
      border: 1px solid grey;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: medium;
      padding-left: 11px;
      padding-top: 9px;
      padding-bottom: 10px;
      width: 70px;
    }

    input[type="submit"]:hover {
      background-color: aliceblue;
    }
  }
}

th {
  font-weight: 300;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 160px;
  margin-bottom: 50px;
  .table,
td:nth-child(even),
tr,
th {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  font-weight: 600;

  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  border-collapse: collapse;
  border: 1px solid #ffffff;
  border-style: groove;

  .warehouse-col {
    max-width: 150px;
  }

  .time {
    direction: ltr;
    padding: 0px;
    margin: 0px;
    width: 0px;
  }

  th {
    padding: 10px;
    background-color: grey;
    color: #000000;
    font-weight: 600;
  }
  tr:nth-child(odd) td {
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
  }

  tr:nth-child(even) td {
    background-color: rgb(218, 214, 214);
    color: #000000;
    font-weight: 600;
  }
}
}

mark {
  background-color: rgb(187, 250, 187);
}


.description-col {
  // text-align: justify;
  max-height: 200px;
  min-height: 20px;
  max-width: 250px;
  min-width: 20px;
}

.delete-btn {
  display: flex;
  border: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-content: center;

  .delete-svg {
    width: 20px;
    height: auto;
  }

}


.check-col{
  display: flex;
  flex-flow: row;
  padding: 5px;
  .uncheck-btn {
    background-color: transparent;
    border:0px ;
    img {
      height: 15px;
      width: 15px;
    }
  }
  
  .uncheck-btn:hover {
    background-color: aliceblue;
  }
  
  .check-all-btn {
    background-color: transparent;
    border: 0px;
    img {
      height: 15px;
      width: 15px;
    }
  }

  .check-all-btn:hover {
    background-color: aliceblue;
  }
}


.info {
  font-family: "Montserrat", sans-serif;
  font-size: x-small;
}

.pencil {
  display: flex;
  // padding-top: 5px;
  width: 20px;
  height: 20px;
  margin: 0px;
}

.update {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: x-small;
  color: #272626;
  text-decoration: none;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

footer {
  display: flex;
  justify-content: center;

  .copyrights {
    direction: ltr;
    text-align: center;
    color: aliceblue;
    padding-bottom: 20px;
  }
}

@media print {
  .top-container {
    display: none;
  }

  .warehouse-col {
    max-width: 50px;
    min-width: 50px;
  }

  .table-container {
    margin: 10px;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }
  .pencil {
    display: none;

    width: 20px;
    height: 20px;
    margin: 0px;
  }

  .update {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: x-small;
    color: #272626;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
  }

  .hidden-col {
    display: none;
  }

  .delete-btn {
    display: none;
    border: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-content: center;

    .delete-svg {
      width: 20px;
      height: auto;
    }
  }

  .info {
    font-family: "Montserrat", sans-serif;
    font-size: x-small;
  }
}
